.accordion-button {
  background-color: #dee8f6 !important;
  font-size: 1.15rem;
  font-weight: 600;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: black;
}
.heading {
  text-transform: uppercase;
  /*  add margin-top 82px */
  margin: 130px 0 48px 0; 
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .heading {
    /*  add margin-top 82px */
    margin: 122px 0 40px 0;
    font-size: 28px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 360px) {
  .heading {
    /*  add margin-top 76px */
    margin: 106px 0 30px 0;
    font-size: 23px;
    line-height: 27px;
  }
}
